/** 
* Screen.css
* 
* Copyright 2018 Centre for Critical and Creative Thinking. All rights reserved.
*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
nav {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  color: #FFF;
}
nav span {
  float: right;
  margin: 0 0.5rem;
}
nav .home {
  float: left;
}
nav a {
  color: #eee;
}
nav a:hover {
  color: #ccc;
}
section .content,
footer .content {
  margin: 0 auto;
  padding: 5rem 1rem;
}
.matrix {
  padding-bottom: 3rem;
  list-style: none;
  text-align: center;
}
.matrix h5 {
  font-weight: normal;
}
.hero {
  color: #fff;
  /*background: radial-gradient(circle at 49% 34%, #31d29e, #0974f0);*/
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero h1,
.hero .content h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 0.85;
  text-transform: capitalize;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
}
.hero .description {
  font-style: italic;
  font-size: 1.5rem;
}
.hero .signup {
  display: none;
}
.home .hero {
  height: 100vh;
}
.home .hero .signup {
  display: block;
}
.content {
  max-width: 900px;
  font-size: 1.25rem;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  font-size: 1.5rem;
  text-align: center;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content ul,
.content ol {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.content h3 {
  margin-top: 2rem;
}

.content h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  /*text-align: left;*/
}

.content p {
  margin-bottom: 1rem;
  font-size: inherit;
}
.content li {
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.content li p {
  /*display: inline;*/
}
.content strong {
  font-size: inherit;
  color: #333;
}
.content img {
  width: 100%;
  height: auto;
}
footer {
  background-color: #eee;
  color: #666;
  text-align: center;
}
footer .content p,
footer .content p a {
  font-size: 1rem;
}
footer a {
  color: #333;
}
footer a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: #666;
}
pre,
blockquote {
  padding: 1.5rem 2rem;
}
blockquote {
  font-style: italic;
}
em,
p a {
  font-size: 1.25rem;
  margin-right: 0.1rem;
}
p a:hover {
  background: #EEE;
}
p.cite {
  margin-bottom: 2rem;
}
p.meta {
  font-size: 1rem;
  display: block;
}
.button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}
.button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.125em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.75rem;
  max-width: 20rem;
  height: 3.75em;
  line-height: 3.75em;
  border: 1px #EEE solid;
  border-radius: 3.75em;
  padding: 0 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.button:hover {
  background-color: rgba(100, 100, 100, 0.5);
}
a.button {
  color: #FFF;
}
.button.register {
  margin: 2rem auto;
  color: #333;
  position: relative;
  left: 40%;
}
.button.big {
  font-size: 0.8rem;
  height: 4em;
  line-height: 4em;
  border-radius: 4em;
  padding: 0 3em;
}
.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 2rem;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bio .content {
  border-top: 1px solid #ccc;
  position: relative;
}
.bio .mugshot {
  width: 5rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
  background: #FFF;
}
.single.bio {
  margin-top: 6rem;
}
.single.bio .mugshot {
  position: absolute;
  left: 45%;
  right: 45%;
  top: -3rem;
}
.bio p {
  margin-left: 2rem;
  margin-right: 2rem;
}
#board {
  display: flex;
  margin-top: -3rem;
}
#board ul {
  margin: 0;
}
#board .bio {
  margin: 1rem;
  list-style: none;
  max-width: 250px;
  vertical-align: top;
  text-align: center;
  display: inline-block;
}
#board .bio p {
  margin: 0;
}
hr {
  margin: 3rem;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
ol,
ul {
  padding: 0 1rem;
  margin: 1rem;
  list-style-position: outside;
}
form input {
  border: 1px solid #CCC;
  border-radius: 4px;
}

input[type=submit]:hover,
input[type=submit]:focus {
  background: #DDD;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #CCC;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
input[type=email]:invalid {
  box-shadow: 0 0 5px #ee0000;
  border: 1px solid rgba(238, 0, 0, 0.8);
}
.signup form {
  padding-top: 0;
  text-align: center;
}
.signup form label {
  display: none;
}
.signup form input[type=email] {
  min-width: 20rem;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.signup form input[type=submit] {
  padding: 0.46rem 1rem;
  display: inline-block;
  background: #EEE;
}
#atn-registration-form {
  margin-top: 3rem;
  text-align: center;
}
#atn-registration-form legend {
  font-size: 1.25rem;
  font-weight: bold;
}
#atn-registration-form input {
  width: 80%;
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
}
#atn-registration-form input[type=submit] {
  background: #EEE;
  border: 1px solid #ccc;
  height: auto;
  padding: 0.25rem;
}
.thoughts {
  list-style: none;
}
.thoughts li {
  margin-top: 3rem;
}
.thoughts li h3 a {
  font-size: 1.5rem;
  text-transform: capitalize;
}
i.fas {
  margin: 0 .25rem;
}